@import "tailwindcss";

.text-hanrood {
    color: #E50056;
  }

  .bg-hanrood {
    background-color: #E50056;
  }

  .border-hanrood {
    border-color: #E50056;
  }

  .hover:bg-hanrood :hover {
    background-color: #D40045;
  }